@media print {
    body * {
        visibility: hidden;
    }
    #sageOutput {
        visibility: visible;
    }
    #sageOutput {
        overflow:hidden;
        position: absolute;
        left: 0;
        top: 0;
    }
}