@media print {
    body * {
        visibility: hidden;
    }
    .compute, .compute * {
        visibility: visible;
    }
    .compute {
        position: absolute;
        left: 0;
        top: 0;
    }
}